<!DOCTYPE html>
<html>

<head>
  <title>TIS Model</title>
  <meta charset="utf-8">
  <meta name=author content="Ashkan Lotfipoor" />
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" href="../static/Footer-with-button-logo.css">
  <link rel="stylesheet" id="bootstrap-css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TIS Prediction</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Model</a></li>
          <li><a href="/manual.html">Manual</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h2>TIS Machine Learning Application</h2>
    <p class="lead">This application is built to host a ML model for predeiction of spring drawdown.</p>
    <p class="lead">Right now it's under construction.</p>
    <p class="lead">Contact me at a.lotfipoor@gmail.com</p>
    <p class="lead">Thank you for waiting...</p>

  <footer id="myFooter">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fd/University_of_Tehran_logo.svg/1200px-University_of_Tehran_logo.svg.png" alt="W3Schools.com" width="120" height="120">
              </div>
              <div class="col-sm-4">
                  <h5>About</h5>
                  <ul>
                      <p>This application is built to host a ML model for predeiction of spring drawdown. Right now it's under construction. Thank you for waiting...</p>
                  </ul>
              </div>
              <div class="col-sm-2">
                  <h5>Contact</h5>
                  <ul>
                      <li><a href="https://alotfipoor.ir">My Personal Site</a></li>
                      <li><a href="mailto:a.lotfipoor@gmail.com">Email us</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <div class="social-networks">
                      <a href="https://twitter.com/AshkanLotfipoor" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="https://www.facebook.com/alotfipoor" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="https://scholar.google.com/citations?user=XIKT2bAAAAAJ" class="google"><i class="fa fa-google-plus"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <p>© 2019 Ashkan Lotfipoor</p>
      </div>
  </footer>

</body>

</html>
